.container {
  margin: 0 auto;
  padding: 30px 10px;
  min-height: 100vh;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 25px 0;
  text-align: left;
}

h2 {
  margin: 20px 0;
  text-align: left;
}

h3 {
  margin: 18px 0;
  text-align: left;
}

h1,
h2 {
  color: #9ba747;
}

p {
  margin: 16px 0;
  text-align: left;
}

ul {
  text-align: left;
}

li {
  margin: 5px 0;
}

a {
  color: #f29d4b;
}

a svg {
  color: #d57030;
  fill: #d57030; /* alisロゴ用 */
}

a:hover {
  opacity: 0.75;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #616161;
    color: #fff;
  }
}

.dark {
  background-color: #616161;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #616161;
}

.switch-light {
  position: fixed;
  color: #616161;
  background-color: #fff;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  box-shadow: 0 0 8px black;
}

.switch-dark {
  position: fixed;
  color: #fff;
  background-color: #616161;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  box-shadow: 0 0 8px black;
}
