.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 750px;
}

.wrapper {
  padding: 30px 10px;
}

h1 {
  margin: 25px 0;
  text-align: left;
}

h2 {
  margin: 20px 0;
  text-align: left;
}

h3 {
  margin: 18px 0;
  text-align: left;
}

h1, h2 {
  color: #96514d;
  font-weight: normal;
}

p {
  margin: 16px 0;
  text-align: left;
}

ul {
  padding: 0;
  text-align: left
}

li {
  margin: 5px 0;
}

a {
  color: #96514d;
}