.container {
  margin: 0 auto;
  padding: 30px 10px;
  min-height: 100vh;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 25px 0;
  text-align: left;
}

h2 {
  margin: 20px 0;
  text-align: left;
}

h3 {
  margin: 18px 0;
  text-align: left;
}

h1,
h2 {
  color: #9ba747;
}

p {
  margin: 16px 0;
  text-align: left;
}

ul {
  text-align: left;
}

li {
  margin: 5px 0;
}

a {
  color: #f29d4b;
}

a:hover {
  opacity: 0.75;
}

.list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #616161;
    color: #fff;
  }
}

.dark {
  background-color: #616161;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #616161;
}

.switch-light {
  color: #616161;
  background-color: #fff;
}

.switch-dark {
  color: #fff;
  background-color: #616161;
}

.mode-switch-button {
  bottom: 30px;
  right: 30px;
}

.location-button {
  bottom: 105px;
  right: 30px;
}

.floating-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px black;
  text-align: center;
  vertical-align: bottom;
}

.switch-light:hover {
  cursor: pointer;
}

.switch-dark:hover {
  cursor: pointer;
}

.switch-icon {
  width: 60%;
  height: 60%;
  font-size: 30px;
}

.location-icon {
  width: 60%;
  height: 60%;
  font-size: 30px;
}
